*{
    box-sizing: border-box;
  }
  
  body-tt{
    background:#92bde7;
    color:#485e74;
    line-height:1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:1em;
  }
  
  .container-tt{
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
  }
  
  .brand{
    text-align: center;
  }
  
  .brand span{
    color:rgba(4,9,30,0.8);
  }
  
  .waffer{
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
  }
  
  .waffer > *{
    padding: 1em;
  }
  
  .laboratory-info{
    background:#2ecc71;
  }
  
  .laboratory-info h3, .laboratory-info ul{
    text-align: center;
    margin:0 0 1rem 0;
  }
  
  .contact-tt{
    background:#f9feff;
  }
  
  /* FORM STYLES */
  .contact-tt form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
  }
  
  .contact-tt form label{
    display:block;
  }
  
  .contact-tt form p{
    margin:0;
  }
  
  .contact-tt form .full{
    grid-column: 1 / 3;
  }
  
  .contact-tt form button, .contact-tt form input, .contact-tt form textarea{
    width:100%;
    padding:1em;
    border:1px solid #c9e6ff;
  }
  
  .contact-tt form button{
    background:#2ecc71;
    border:0;
    text-transform: uppercase;
  }
  
  .contact-tt form button:hover,.contact-tt form button:focus{
    background:#2ecc71;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
  }
  
  .alert{
    text-align: center;
    padding:10px;
    background:#79c879;
    color:#fff;
    margin-bottom:10px;
    display:none;
  }
  
  /* LARGE SCREENS */
  @media(min-width:700px){
    .waffer{
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  
    .waffer > *{
      padding:2em;
    }
  
    .laboratory-info h3, .laboratory-info ul, .brand{
      text-align: left;
    }
  }